<footer>
    <nav>
        <a id="linkIn" href="/designs">Browse Interior Design Styles</a>
    </nav>
    <h3>Follow Us:</h3>
    <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Pinterest_glyph_svg-128.png" id="social">
       <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Twitter_glyph_svg-128.png" id="social">
       <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Youtube_glyph_svg-128.png" id="social">
</footer>