<!DOCTYPE html>
   <!-- ============ HEADER ============ -->
    <%- include ('./partials/header.ejs') %>  
    <nav>
        <a id="link" href="/designs">Browse Interior Design Styles</a>
    </nav>

<body>

    <h1>Industrial Style</h1>
    <p class="medT">The most casual of all interior design styles is the industrial look, a trend born out of necessity in the 1960s that still thrives today.</p>

    <div class="container2" >
    <div class="collage2">

    <div class="img-collage2"> 
    <h2>Industrial Kitchens</h2>
    <img src="https://themoodguide.com/wp-content/uploads/2021/08/industrial-lighting-fixture-for-open-kitchen-large-metal-dome-lamps-suszi_saunders-min.png" id="imgs2"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/one-wall-kitchen.jpg"id="imgs2"></a>
    <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_1095/at%2Farchive%2Ff3bdbe64f52a6aa99d4f9e48e88081e530dc0e89"id="imgs2"></a>
    <img src="https://themoodguide.com/wp-content/uploads/2021/08/industrial-farmhouse-leather-stools-large-metal-dome-lamps_@kimberleyinteriors_themoodguide-min.png"id="imgs2"></a>
    <img src="https://themoodguide.com/wp-content/uploads/2021/08/chic-farmhouse-industrial-kitchen_photo-Andrew-Heiser-project-black-orchid-design-houzz_themoodguide-min.png"id="imgs2"></a>
    </div>

    <h2>Industrial Living Room</h2>
    <div class="img-collage2"> 
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/Black-floor-reading-lamp.jpg"id="imgs2"></a>
    <!-- <img src="https://curatedinterior.com/wp-content/uploads/2021/02/Floating-Bookshelves-on-Wall-of-Industrial-living-room-via-Murdock-Solon-Architects.jpg"id="imgs"></a> -->
    <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_487/at%2Fhouse%20tours%2F2020-01%2FLula%20Poggi%2FPHOTO_12"id="imgs2"></a>
    <img src="https://blog.displate.com/wp-content/uploads/2022/06/Industrial-Living-Room-Ideas_42.jpg"id="imgs2">
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/Industrial-kitchen-diner.jpg"id="imgs2"></a>
    </div>

    <h2>Industrial Bathroom Decor Ideas</h2>
    <div class="img-collage2"> 
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-bathroom-mirror.jpg"id="imgs2"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-look-bathroom-vanity.jpg"id="imgs2"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-bathroom-sink.jpg"id="imgs2"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-bathroom-sinks.jpg"id="imgs2"></a>
    <!-- <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/vintage-industrial-bathroom.jpg"id="imgs2"></a> -->
    </div>
    </div>
</div>

    <a href="/industrial"><button>View Furniture</button></a>
    <a href="/designs/inProjects"><button class="top">TOP</button></a>


      <!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>

</body>
</html>