<!DOCTYPE html>

   <!-- ============ HEADER ============ -->
    <%- include ('./partials/header.ejs') %>  
    <nav>
      <a id="link" href="/designs">Browse Interior Design Styles</a>
  </nav>

<body>
    <h1>Mediterranean Style</h1>
    <p class="medT">“Because Mediterranean style homes are often found in warm, seaside locales, colors include sandy neutrals, striking blues, bright whites, and pops of vivid yellow, pink, orange, and green.”</p>

 <div class="container1" >
<div class="collage">
        
    <div class="img-collage"> 
    <h2>Mediterranean Dining Room</h2>
    <img src="https://media.architecturaldigest.com/photos/63ffa416783acb3116f11bef/master/w_960,c_limit/Jeff_Andrews_Detroit_06.JPG" id="imgs">
    </div> 

    <div class="img-collage"> 
    <h2>Mediterranean Bedroom</h2>
    <img src="https://media.architecturaldigest.com/photos/63ffa3c9f734f7efa4203419/master/w_960,c_limit/Lucas_Old%20Las%20Palmas%2019.jpg" id="imgs">
   </div>

</div>

<div class="collage1">

    <div class="img-collage1"> 
    <h2>Mediterranean Bathroom</h2>
    <img src="https://media.architecturaldigest.com/photos/63ffa28521b80480822a325c/master/w_960,c_limit/Jeff_Andrews_Detroit_19.JPG"id="imgs">
    </div>

    <div class="img-collage1">
    <h2>Mediterranean living Room</h2>
    <img src="https://media.architecturaldigest.com/photos/63ffa46a8c1afa56f5e3d6d8/master/w_960,c_limit/Jeff_Andrews_Detroit_01.JPG"id="imgs">
     </div>
</div>

    <!-- <div class="img-collage"> --> 
    <h2>Mediterranean Fireplace</h2>
    <img src="https://media.architecturaldigest.com/photos/63ffa2c0b6d2e827c343925d/master/w_960,c_limit/Jeff_Andrews_Detroit_12.JPG"id="imgs">
    <!-- </div> -->

</div>  

    <a href="/mediterranean"><button>View Furniture</button></a>
    <a href="/designs/mediProjects"><button class="top">TOP</button></a>

  <!-- ============ FOOTER ============ -->
  <%- include ('./partials/footer.ejs') %>

</body>
</html>