<!DOCTYPE html>
   <!-- ============ HEADER ============ -->
    <%- include ('./partials/header.ejs') %>  
    <nav>
      <a id="link" href="/designs">Browse Interior Design Styles</a>
  </nav>
  
<body>

    <h1>Minimalist Style</h1>
    <p class="medT">Though often imagined as an uncluttered room with a monochromatic color palette and a few pieces of furniture, minimalism encompasses much more than just a finished aesthetic, especially when you consider how different cultures honor the ethos in their spaces.</p>
       
    <div class="container3" >
    <div class="collage3">

    <div class="img-collage3"> 
    <h2>Minimalist Kitchen Ideas</h2>
    <img src="https://www.thespruce.com/thmb/Azbl-yNUEnD20OyOx8Ajn9arOUs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/SSS_Home_Kitchen_012-5c92aafa63ca4235bbed12b8c5756138.jpg"id="imgs3">
    <img src="https://www.thespruce.com/thmb/vK8y7iR4H-Ryn2bI4zfJ_55q4Bg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/2D3A0796b-min-scaled-2000x1334-e6ec9a96c776427895a87542710aded1.jpg"id="imgs3">
    <!-- <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_1095/at%2Farchive%2Ff3bdbe64f52a6aa99d4f9e48e88081e530dc0e89"id="imgs3"></a> -->
    <img src="https://www.thespruce.com/thmb/p6la1BjVwr9433Jn1YG3fR8XdjU=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/SheridanRoad_IL_0384-e0323efd3961489da8118472c951448a.jpg"id="imgs3"></a>
    <img src="https://www.thespruce.com/thmb/bdlQynA1j3ULLiINniwWw4fm_So=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/sarah-sherman-samuel-mandy-moore-3-1e073c45394340c388e2dfa57af42e2e.jpg"id="imgs3">
    </div>

    <div class="img-collage3"> 
    <h2>Minimalist Living Room Ideas</h2>
    <!-- <img src="https://margaritabravo.com/wp-content/uploads/2022/09/Open-Minimalist-LivingRoom-766x1024.jpeg"id="imgs3"> -->
    <img src="https://www.thespruce.com/thmb/OQE5Cuwvivi5lFfvP_45DoviAEw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/calimia_west_palm-beach_interior_designer_24-443c56b370814c5599097f7c1933d10b.jpg"id="imgs3">
    <img src="https://thearchitecturedesigns.com/wp-content/uploads/2021/12/Minimalist-Living-Room-Ideas-5-1024x683.jpg"id="imgs3">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/arent-pyke-contemporary-minimalist-living-room-1554398853.jpg"id="imgs3">
    <img src="https://margaritabravo.com/wp-content/uploads/2022/09/Minimalist-Living-Room.jpeg"id="imgs3">
    </div>

    <div class="img-collage3"> 
    <h2>Minimalist Dining Room Ideas</h2>
    <img src="https://www.essentialhome.eu/inspirations/wp-content/uploads/2021/11/Modern-Luxury-Dining-Room-Ideas_4.jpg"id="imgs3">
    <img src="http://cdn.home-designing.com/wp-content/uploads/2017/12/minimalist-dining-room-lighting.jpg"id="imgs3">
    <!-- <img src="https://i.pinimg.com/550x/ec/dd/7e/ecdd7effa7bee0725b3e3c42ccf76b27.jpg"id="imgs3"> -->
    </div>

    <div class="img-collage3"> 
    <h2>Minimalist Bathroom Decor Ideas</h2>
    <img src="https://www.mydomaine.com/thmb/Qu4pGCJfQYJ9UOyyd4Gh-2Z_7Jk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cdn.cliqueinc.com__cache__posts__259063__minimalist-bathrooms-259063-1527622977096-image.700x0c-e85fea158ec144f9957119e2292ac6e6-cbc0eec3e9b540f7a8b60b76d7d7842c.jpg"id="imgs3">
    <img src="https://www.mydomaine.com/thmb/5-ImKUODw86I2uTJaRk-BGjeKW4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cathiehong-ohlone_8-cc17ffaaf44842608064b132feea6e1f.jpeg"id="imgs3">
    <img src="https://www.digsdigs.com/photos/2015/05/a-minimalist-bathroom-done-with-white-and-grey-concrete-with-black-fixtures-and-a-glazed-wall-for-the-views.jpg"id="imgs3">
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/01/contemporary-minimalist-bathrooms.jpg"id="imgs3">
    <img src="http://cdn.shopify.com/s/files/1/0249/0286/0888/articles/Minimalist-Bathroom-2.jpg?v=1579168889"id="imgs3">
    </div>
 </div>
</div>

    <a href="/designs/minProjects"><button class="top">TOP</button></a>
    <a href="/minimalist"><button>View Furniture</button></a>

  <!-- ============ FOOTER ============ -->
    <%- include ('./partials/footer.ejs') %>

</body>
</html>