
/* INDEX PAGE STYLING  */
/* body {
    background-color: #fffafa;
  } */

img {
    border-radius: 10px;
}

p.medText, p.minText, p.inText {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
}


p.medText, p.minText, p.inText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-250%, -50%); 
    width: 300px;
    word-wrap: break-word;
    color: white;
    text-align: center;
    font-weight: bolder;
}


p.minText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%); 
    width: 300px;
    word-wrap: break-word;
    color: white;
    text-align: center;
    font-weight: bolder;

}

p.inText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(150%, -50%);
    width: 300px;
    word-wrap: break-word;
    color: white;
    text-align: center;
    font-weight: bolder;
}


.img1, .img2, .img3 {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img2 {
    height: 805px;
    margin-left: 9px;
}
.container:hover .img1 {
    opacity: 0.3;    
}

.container:hover p.medText {
    opacity: 1;
}

.containerMin:hover .img2 {
    opacity: 0.3;    
}

.containerMin:hover p.minText {
    opacity: 1;
}


.containerIn:hover .img3 {
    opacity: 0.3;    
}

.containerIn:hover p.inText {
    opacity: 1;
}

.img-container {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

/* Make images responsive  */

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

h2 {
    text-align: center;
    font-style: italic;
    margin-top: 60px;

}

h1 {
    text-align: center;
    font-style: italic;
    margin: 70px;
    font-size: 50px;
}


/* MEDITERRANEAN INDEX PAGE STYLING  */

.container1 {
    margin: 45px;
}
.collage, .collage1 {
    display: flex;
}

.img-collage .img-collage1 {
    flex: 33.33%;
    padding: 5px;
}

img#imgs {
    height: 800px;
    width: 900px;
}

p.medT {
    font-size: 30px;
    text-align: center;
    margin: 40px;
}

button {
  background-color: black;
  border-radius: 10px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 40px;
  padding: 0 25px;
  transition: all 200ms;
  margin-top: 20px;
  margin-left: 1700px;
  }
  
  button:hover {
color: black;
background-color:  #fffcf5;
  transform: scale(1.05);
  }

button.top {
    position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  }
  
button.top:hover {
color: black;
background-color:  #fffcf5;
  transform: scale(1.05);
  }




a#link {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    background-color: #fffcf5;
    margin-left: 35px;
    margin-top: -35px;
    padding: 1px;
    color: black;
    position: absolute;
  }

  a#linkIn {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    background-color: #fffcf5;
    margin-left: 35px;
    margin-top: 25px;
    padding: 1px;
    color: black;
    position: absolute;
  }

  a#link1 {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    background-color: #fffcf5;
    margin: 20px;
    padding: 5px;
    color: black;
    display: flex;
    float: right;
  }

a#link:hover, a#link4:hover, a#link1:hover, a#link2:hover, a#linkIn:hover{
    color:white;
    background-color: black;
}

footer {
    margin-top: 25px;
    background-color:#fffcf5 ;
    height: 200px;
}

h3 {
    align-items:  center;
    text-align: center
}

#social {
    height: 60px;
    width: 60px;
    padding: 0;
    margin-left: 420px;
    display: inline-block;
}

/* INDUSTRIALIST INDEX PAGE STYLING  */

.container2 {
    margin: 10px;
    margin-left: 40px;
}
.img-collage2 {
    flex: 33.33%;
    padding: 5px;
}

img#imgs2 {
    height: 800px;
    width: 900px;
}


/* MINIMALISM INDEX PAGE STYLING  */

.container3 {
    margin: 10px;
    margin-left: 40px;
}
.img-collage3 {
    flex: 33.33%;
    padding: 5px;
}

img#imgs3 {
    height: 800px;
    width: 900px;
}

/* PRODUCTS INDEX PAGE STYLING  */

ul {
    display: flex;
}

.container4 {
    margin: 10px;
    margin-left: 40px;
}


img#imgs4, img#imgs5 {
    height: 400px;
    width: 400px;
}

a.product {
    font-size: 18px;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}


.container4:hover img#imgs4 {
    opacity: 0.3;    
}

.prodInf {
    font-size: 18px;
    text-align: start;
    margin-left: 90px;
}


  img#imgs5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .prodTitle {
    font-size: 25px;
    color: black;
    text-align: start;
    margin-left: 740px;
    word-wrap: break-word;
    width: 400px;
    margin-top: 0px;
  }

  .prodInfo {
    font-size: 20px;
    color: black;
    text-align: start;
    margin-left: 760px;
    word-wrap: break-word;
    width: 400px;
    font-weight: lighter;
    margin-top: -10px;
  }


 

  input[type=submit] {
    background-color: black;
    border-radius: 10px;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color:white;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 40px;
    padding: 0 25px;
    transition: all 200ms;
    /* margin-top: 10px; */
    top: -220px; 
    margin-left: 30px;
    position: relative;
  }

  input#edit {
    position: relative;
    top: -460px;
    margin-left: 1750px;
  }

  input#add {
    position: absolute;
    margin-left: 100px;
    top: 730px;
    font-size: 18px;
  }

  input#submitEd {
    position: relative;
    top: 2px;
    font-size: 15px;
    height: 28px;
    margin-left: 120px;
    
  }

input[type=submit]:hover {
    color: black;
    background-color:  #fffcf5;
      transform: scale(1.05);
      }
    
a#link2 {
        font-size: 20px;
        color: black;
        font-weight: lighter;
        text-decoration: none;
        background-color: #fffcf5;
        margin-top: 150px;
        margin-left: 800px;
        padding: 5px;
        color: black;
        position: absolute;
}


.prodTitle1 {
    font-size: 25px;
    color: black;
    text-align: start;
    margin-left: 760px;
    word-wrap: break-word;
    width: 400px;
    margin-top: 0px;
  }

input.box {
    margin-left: 40px;
    display: inline-block;
    width: 250px;
    text-align: right;
}

input.box1 {
    width: 240px;
}

input.box2 {
    width: 240px;
    margin-left: 40px;
}

input.box3 {
    width: 240px;
    margin-left: 115px;
}


form {
    margin-top: 200px;
}

    
a#link4 {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    background-color: #fffcf5;
    margin-top: 30px;
    margin-left: 1700px;
    padding: 5px;
    color: black;
    position: absolute;
}
