<!DOCTYPE html>
  <!-- ============ HEADER ============ -->
  <%- include ('../partials/header.ejs') %> 

  <style type="text/css">
    body {
      background-image: url("https://images.pexels.com/photos/4207788/pexels-photo-4207788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-size: cover;
    }
    </style>

    <body>
        <h1>Add New Furniture</h1>
        <form action="/minimalist" method="POST">

          <h3 class="prodTitle1">  Title: <input class="box" type="text" name="title" placeholder="i.e. Dining Table" /><br/></h3>
          <h3 class="prodTitle1"> Store: <input class="box" type="text" name="store" placeholder="i.e. Ikea" /><br/></h3>
          <h3 class="prodTitle1"> Image: <input class="box2" type="text" name="image" placeholder="i.e. http://cdn.home-designing.com/.jpg"/><br/> </h3>
          <h3 class="prodTitle1">  Description: <input class="box1" type="text" name="description" placeholder="i.e. Round, micro-thin glass features subtly tapered sham"/><br/></h3>
          <h3 class="prodTitle1"> Price: <input class="box" type="text" name="price" placeholder="i.e. 2999"/><br/></h3>
          <h3 class="prodTitle1"> Tags:  <input class="box" type="text" name="tags" placeholder="i.e. mediterranean"/><br/></h3>
          <h3 class="prodTitle1"> Link: <input class="box" type="text" name="link" placeholder="link to store"/><br/>
         <input id="add" type="submit" name="" value="Add new Product"/><br/>
        </form>

        <a id="link2" href="/minimalist">Back to Decor Ideas</a>
      
    </body>
</html>
